@font-face {
  font-family: 'Cooper';
  src: url('/src/assets/fonts/CooperBlackStd.otf'); 
}

:root {
  --color-theme: rgb(30, 144, 255);  /* dodgerblue */
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  font-family: 'Helvetica', sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

#app {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  width: 100%;
}
footer {
  position: relative;
  text-align: left;
  z-index: 1;
  padding: 0.5rem;
  padding-top: 4rem;
  color: #bbb;
}
footer > * {
  background: #000;
}
.no-link {
  text-decoration: none !important;
  color: inherit;
}
